# Site Settings
title: Ha Rim Jung
description: Quantitative Researcher | Sogang University
url: "https://gkfla2020-bit.github.io"
baseurl: ""

# Author
author:
  name: Ha Rim Jung
  email: gkfla2020@gmail.com
  github: gkfla2020-bit

# Build Settings
markdown: kramdown
highlighter: rouge

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"

include:
  - _pages

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
